@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

:root {

  // font variables
  --primary-font: 'Titillium Web', sans-serif;

  // color vriables
   --text-black: #171717;
   --white: #ffffff;

}

* {
  font-family: var(--primary-font);
}

html {
  color: var(--text-black);
}
